<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329096238857-rm0r99clgfvdo5u8kr829lec452mo6q7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329096238857-rm0r99clgfvdo5u8kr829lec452mo6q7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>329096238857-0c2e4mce5dqgvhbraa1qd0fgihm473r6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAj7uYViZDYV5XvxiG3epU22_PU4GTporA</string>
	<key>GCM_SENDER_ID</key>
	<string>329096238857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iiitl.collegeGate</string>
	<key>PROJECT_ID</key>
	<string>college-gate-dbd50</string>
	<key>STORAGE_BUCKET</key>
	<string>college-gate-dbd50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329096238857:ios:34e9b29910985ffc56a5d8</string>
	<key>DATABASE_URL</key>
	<string>https://college-gate-dbd50-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>